<div class="card mb-4">
    <div class="card-header">
        <h4 class="mb-0">Rebate Claim Approved</h4>
    </div>
    <div class="card-body">
        <p>Congratulations {{ applicant.first_name }}, your rebate claim has been approved.
            {% if awarded %}
                You will receive your check in the amount of <strong>{{ awarded }}</strong> by mail. 
            {% endif %}
            Thanks for your participation and for conserving water!
       </p>
    </div> <!-- .card-body -->
</div> <!-- .card -->