/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/queue.pid
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer.phar
favicon.ico
.htaccess
public/error_log
public/gmaps/2018-bwp.kml
