<a
    class="no-underline font-bold dim text-primary"
    href="{{ config('nova.path') }}/resources/rebates/{{ application.rebate_id }}"
    >
    {{ application.rebate.partnerYear() }} | {{ application.rebate.name }}
</a>